asgiref==3.5.0
Django==4.0.3
django-allauth==0.50.0
django-countries==5.3.3
django-jet
django-material-admin==1.8.6
django-materializecss-form==1.1.17
django-utils==0.0.2
urllib3==1.24.2
virtualenv==20.10.0

